<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="./css/CriarConta.css" rel="stylesheet">
    <!-- Fonte Usada -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid">
        <div class="a">
             <img class="Promocional" src="./images/mocaPintandoIvanty.png" alt="Mulher artista pintando o log da ivanty">
        </div>
        <div class="b">
            <form id="cadastroForm" action="/api/clientes" method="POST">
                <h1>IVANTY</h1>
                    
                <div class="input-group">
                    <label for="user-type">Escolha o tipo:</label>
                    <select id="tipo_cliente" name="tipo_cliente" required>
                        <option value="">Selecione uma opção</option>
                        <option value="artista">Artista</option>
                        <option value="cliente">Cliente</option>
                    </select>
                    <span class="erro" id="erroTipo"></span>
                </div>

                <div class="input-group">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome_cliente" name="nome_cliente" placeholder="Digite o seu nome completo" required>
                    <span class="erro" id="erroNome"></span>
                </div>
    
                <div class="input-group">
                    <label for="perfil_cliente">Nome de usuario</label>
                    <input type="text" id="perfil_cliente" name="perfil_cliente" placeholder="Digite o seu nome de usuário" required>
                    <span class="erro" id="erroNomeUsuario"></span>
                </div>
    
                <div class="input-group">
                    <label for="email_cliente">E-mail</label>
                    <input type="email" id="email_cliente" name="email_cliente" placeholder="Digite o seu email" required>
                    <span class="erro" id="erroEmail"></span>
                </div>
    
                <div class="input-group">
                    <label for="strCPF">CPF</label>
                    <input type="text" name="cpf_cliente" id="strCPF" size="30" maxlength="11" placeholder="Digite seu CPF" required>
                    <span class="erro" id="erroCpf"></span>
                </div>

                <div class="input-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha_cliente" name="senha_cliente" placeholder="Digite sua senha" required>
                    <span class="erro" id="erroSenha"></span>
                </div>

                <div class="input-group">
                    <label for="dataNascimento">Data de nascimento</label>
                    <input type="date" id="datanasc_cliente" name="datanasc_cliente" required>
                    <span class="erro" id="erroDataNascimento"></span>
                </div>
                
                <div class="input-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" id="telefone_cliente" name="telefone_cliente" placeholder="(XX) XXXXX-XXXX" required>
                    <span class="erro" id="erroTelefone"></span>
                </div>

                <div class="input-group"><button type="submit">Cadastrar</button></div>
            </form>
                    
        </div>
    </div>
    <script src="./js/validate.js"></script>
</body>
</html>
