<div class="slider-wrapper">
    <div class="ObrasRelacionadas-Carrossel swiper-wrapper">
        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
            <figure class="ObrasRelacionadas1">
                <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                    <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                </a> 
            </figure>
              <p> R$ xxx,xx</p>
              <div class="CarrinhoELike">
              <button class="AddCarrinho"> Adicionar ao carrinho </button>
            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
              </div>
        </nav>
        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
            <figure class="ObrasRelacionadas2">
                <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                    <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                </a> 
            </figure>
              <p>R$ xxx,xx</p>
              <div class="CarrinhoELike">
              <button class="AddCarrinho"> Adicionar ao carrinho </button>
            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
              </div>
        </nav>
        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
            <figure class="ObrasRelacionadas1">
                <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                    <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                </a> 
            </figure>
              <p> R$ xxx,xx</p>
              <div class="CarrinhoELike">
              <button class="AddCarrinho"> Adicionar ao carrinho </button>
            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
              </div>
        </nav>
        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
            <figure class="ObrasRelacionadas2">
                <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                    <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                </a> 
            </figure>
              <p>R$ xxx,xx</p>
              <div class="CarrinhoELike">
              <button class="AddCarrinho"> Adicionar ao carrinho </button>
            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
              </div>
        </nav>
        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
            <figure class="ObrasRelacionadas1">
                <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                    <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                </a> 
            </figure>
              <p> R$ xxx,xx</p>
              <div class="CarrinhoELike">
              <button class="AddCarrinho"> Adicionar ao carrinho </button>
            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
              </div>
        </nav>
        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
            <figure class="ObrasRelacionadas2">
                <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                    <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                </a> 
            </figure>
            <p>R$ xxx,xx</p>
            <div class="CarrinhoELike">
              <button class="AddCarrinho"> Adicionar ao carrinho </button>
            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
            </div>
        </nav>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> 
    </div>