<footer>
    <section class="rodape">
      <section class="top">
          <a href="./">
        <section class="logoo">
            <img class="logotipo" src="./../images/Logotipo.svg" alt="Logo">
          <p>Ivanty</p>
        </section>
          </a>
        <section class="media-icons">
          <a href="/#">
            <img
              class="facebook"
              src="./../images/media-icons/facebook.png"
              alt="Facebook"
            />
          </a>
          <a href="/#">
            <img
              class="twitter"
              src="./../images/media-icons/twitter.png"
              alt="Twitter"
            />
          </a>
          <a href="/#">
            <img
              class="instagram"
              src="./../images/media-icons/instagram.png"
              alt="Instagram"
            />
          </a>
          <a href="/#">
            <img
              class="whatsapp"
              src="./../images/media-icons/whatsapp.png"
              alt="WhatsApp"
            />
          </a>
        </section>
      </section>
      <section class="link-boxes">
        <ul class="box">
          <li class="link_name">Navegação</li>
          <li>
            <a href="./">Home</a>
          </li>
          <li>
            <a href="./profile">Perfil</a>
          </li>
          <li>
            <a href="./artists">Artistas</a>
          </li>
        </ul>
        <ul class="box">
          <li class="link_name">Sobre nós</li>
          <li>
            <a href="./about">Quem somos</a>
          </li>
        </ul>
        <ul class="box">
          <li class="link_name">Conta</li>
          <li>
            <a href="./profile">Gerenciar perfil</a>
          </li>
        </ul> 
        <ul class="box">
          <li class="link_name">Contato</li>
          <li>
            <a href="/#">email@email.com</a>
          </li>
          <li>
            <a href="/#">11 00000000</a>
          </li>
        </ul>
        <ul class="box input-box">
          <li class="link_name">Reportar algum erro</li>
          <li>
            <input type="email" placeholder="Digite seu email">
          </li>
          <li>
            <input class="RelateTeuErro" type="text" placeholder="Relate o que aconteceu?">
          </li>
          <li>
            <a href="./">
              <input type="button" value="Enviar">
            </a>
          </li>
        </ul>
      </section>
    </section>
    <section class="bottom-details">
      <section class="bottom_text">
        <span class="copyright_text">
          Copyright © 2023 <a href="#">IVANTY .</a>
        </span>
        <span class="policy_terms">
          <a href="/#">Política de Privacidade</a>
          <a href="/#">Termos e Condições</a>
        </span>
      </section>
    </section>
  </footer> 