div.AddImagem{
    background-color: #1a23a0;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.AddImagem h1{
    color: #fff;
}
div.AddImagem form{
    height: 100%;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;
    grid-row-gap: 10px;
}
div.AddImagem form div{
    grid-column: 1/4;
}
div.AddImagem form div label:nth-child(1){
    background-color: #adadad;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px dashed #5a5a5a;
    color: #5a5a5a;
    transition: 0.5s ease;
}
div.AddImagem form div label:nth-child(1):hover{
    background-color: #5a5a5a;
    color: #adadad;
    border: 2px dashed #adadad;
}
div.AddImagem form div input:nth-child(2){
    display: none;
}
div.AddImagem form button{
    grid-column: 2;
    grid-row: 2;
    border-radius: 15px;
    border: none;
    background-color: #1A23A0;
    color: #fff;
    transition: 0.5s ease;
    height: 80%;
    margin-top: 10px;
}
div.AddImagem form button:hover{
    background-color: #000;
}

.addImageText {
    color: #fff;
}

.addImageBox {
    margin: 2rem auto;
}