.CadastroContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.NomeIvanty {
  text-align: center;
  color: #7B87C3;
  font-family: "Playfair Display", serif;
  font-size: 100px;
}

.grid1 {
  display: flex;
}