.headerTelasMenores {   
    padding: 1rem;
    background: #fff;
}
  
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
}

.searchButton {
    margin: auto;
}

.searchInput {
    height: 1.5rem;
}

.quickNavigation {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.quickNavigationP {
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    display: inline-block;
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.card {
    width: 100%;
    margin: 1rem;
}

.card-icon {
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
    display: inline-block;
    vertical-align: middle; /* Certifique-se de que está alinhado corretamente */
}