
.gallery-container {
    padding: 3rem 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.painting {
    background-color: #fff;
    border-radius: 8px; /* Ajuste sutil no arredondamento */
    padding: 10px; /* Reduz o padding interno */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.painting img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
}

.painting-title {
    font-size: 16px; /* Tamanho de fonte reduzido */
    font-weight: bold;
    color: #1A23A0;
    margin-top: 8px;
}

.painting-description {
    font-size: 14px; /* Texto um pouco menor */
    color: #333;
    margin-top: 4px;
}

.painting-price {
    font-size: 14px;
    color: #1A23A0;
    margin-top: 4px;
}

.painting:hover {
    transform: translateY(-8px); /* Menos elevação no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra um pouco mais leve */
}

.btn-comprar {
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: #1A23A0;
}

.h1Obras {
    margin: 2rem 5rem 1rem;
    font-size: 2.5rem;
    font-family: 'Roboto';
}

.h1ObrasMobile {
    margin: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Roboto';
}

.gallery-containerMobile {
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}