.paintingsTitle {
    margin: 1rem;
    font-size: 1.5rem;
}

.obrasGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.obraContainer {
    padding: 1rem;
    border: 1px solid #000;
    margin: 1rem;
}

.obraContainerImage {
    width: 100%;
}

.obraContainerTitulo {
    font-size: 1.5rem;
    font-weight: 400;
    margin:  0.5rem 0;
}

.obraContainerArtist {
    font-size: 1.25rem;
    font-weight: 200;
    margin:  0.5rem 0;
}

.obraContainerPrice {
    font-size: 1.25rem;
    font-weight: 300;
    margin:  0.5rem 0;
}