.pedidos {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border: solid;
    border-color: rgb(12, 12, 12);
}

.pedidosH2 {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    color: #fff;
}

.pedido {
    border-radius: 1rem;
    margin: 1rem;
    border: 3px solid beige;
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.pedidoImage {
    width: 100%;
    height: auto;
}

.pedidosText {
    font-size: 1.5rem;
    text-align: center;
    margin: 2.5rem;
    color: #fff;
    font-weight: 500;
}

.gridContainerPedidos {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: .5rem;
    padding: 1rem 0;
}

.imagemPedido {
    width: 100%;
}