.form-container {
    margin: 7rem 5rem;
    background-color: white;
    padding: 4rem 5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    display: block;
    font-style: italic;
}

/* Classes para inputs e select */
.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botão */
.submit-button {
    width: auto;
    padding: 10px;
    margin: 2rem 0 0;
    background-color: #EA4C89;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
}

.submit-button:hover {
    background-color: #45a049;
}

.salvarObraTitle {
    font-size: 2rem;
    margin: 0 0 2rem;
}

.form-container-mobile {
    padding: 2rem; /* Reduz padding para dispositivos móveis */
}

.submit-button-mobile {
    width: auto;
    padding: 10px;
    margin: 2rem 0 0;
    background-color: #EA4C89;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* O botão ocupa 100% da largura em mobile */
}

.salvarObraTitle-mobile {
    font-size: 1.5rem; 
    margin: 0 0 1rem/* Título menor em dispositivos móveis */
}

.form-containerMobile {
    margin: 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}