<header class="admHeader">
    <nav class="menuItens">
        <a href="">
            <p class="menuItensText"><i>Usuarios</i></p>
        </a>
        <a href="">
            <p class="menuItensText"><i>Artistas</i></p>
        </a>
        <a href="/">
            <p class="menuItensText"><i>Voltar para área pública</i></p>
        </a>
    </nav>
</header>