<div class="container">
    <h1>Lista de Usuários</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nome de Usuário</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th>Imagem de Perfil</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nome do Usuário</td>
                <td>nome_de_usuario</td>
                <td>usuario@email.com</td>
                <td>123.456.789-00</td>
                <td><img src="perfil.jpg" alt="Imagem de Perfil"></td>
                <td>Ativo</td>
                <td>
                    <a href="#" class="editar">Editar</a>
                    <a href="#" class="detalhes">Detalhes</a>
                    <a href="#" class="excluir">Excluir</a>
                </td>
            </tr>
            <tr>
                <td>Nome do Usuário 2</td>
                <td>nome_de_usuario_2</td>
                <td>usuario2@email.com</td>
                <td>987.654.321-00</td>
                <td><img src="perfil2.jpg" alt="Imagem de Perfil"></td>
                <td>Inativo</td>
                <td>
                    <a href="#" class="editar">Editar</a>
                    <a href="#" class="detalhes">Detalhes</a>
                    <a href="#" class="excluir">Excluir</a>
                </td>
            </tr>
            </tbody>
    </table>
</div>