
<section class="artContainer">
    <img src="images/arts/campoDeTrigo.jpg" alt="" class="artImage">
    <section class="itensArtContainer">
      <section class="gridContainerArtContainer">
        <section class="artContainerNameAuthor">
          <h2 class="artName">Arte</h2>
          <h3 class="artAuthor">Artista</h3>
        </section>
        <p class="artPrice">R$ 799.99</p>
      </section>
      <section class="gridContainerArtContainer02">
        <a href="/buyitem">
          <input class="artButton" type="button" value="COMPRAR">
        </a>
        <section class="gridContainerLikeAndCard">
          <img src="images/icons/heart.svg" alt="" class="artContainerIcons">
          <img src="images/icons/card.svg" alt="" class="artContainerIcons">  
        </section>
      </section>
    </section>
    </section>
  <script src="js/card.js"></script>