<section class="artistCardPC">
    <img src="images/artist.jpg" alt="" class="artistCardPhoto">
    <section class="artistTexts">
      <h3 class="artistCardName">Artista</h3>
      <p class="artistCardBio">Artista Biografia</p>
      <a href="artist.html">
        <input type="button" value="Ver mais" class="seeMoreButton">
      </a>
    </section>
  </section>