<section class="artistCard">
  <div class="artistsFirstLineGrid">
    <img src="images/artist.jpg" alt="" class="artistCardPhoto">
    <div style="       
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      align-content: center;
      flex-wrap: wrap;"
    >
      <h3 class="artistCardName">Osvaldo Brandão Alcantara</h3>  
      <p class="artistCardBio">Pintor, escultor, entre outros.</p>
    </div>
  </div>
  <div class="artistsSecondLineGrid">
    <img class="artImage" src="images/arts/campoDeTrigo.jpg" alt="">
    <img class="artImage" src="images/arts/campoDeTrigo.jpg" alt="">
    <a href="/artist" class="seeMoreA" >
      Ver mais obras...
    </a>
  </div>
    <section class="artistTexts">
      </a>
    </section>
  </section>