<section class="artistCardPC">
  <div class="artistsFirstLineGridPC">
    <img src="images/artist.jpg" alt="" class="artistCardPhotoPC">
    <div class="artistsContainerTextos">
      <h3 class="artistCardName">Osvaldo Brandão Alcantara</h3>  
      <p class="artistCardBio">Pintor, escultor, entre outros.</p>
    </div>
  </div>
  <div class="artistsSecondLineGridPC">
    <img class="artImage" src="images/arts/campoDeTrigo.jpg" alt="">
    <img class="artImage" src="images/arts/campoDeTrigo.jpg" alt="">
    <img class="artImage" src="images/arts/campoDeTrigo.jpg" alt="">
    <img class="artImage" src="images/arts/campoDeTrigo.jpg" alt="">
    <a href="/artist" class="seeMoreA" >
      Ver mais obras...
    </a>
  </div>
  </section>