<a href="./<%= artista.perfil_cliente %>">
  <section class="artist">
      <img src="./uploads/<%= artista.foto_cliente %>" alt="<%= artista.nome_cliente %>" class="artistPhoto">
      <p class="artistName"><%= artista.nome_cliente %></p>
  </section>
</a>
