<section class="artCarrosell">
  <section class="slideshow-container">
    <section class="comprarPorCategoriamySlidesMobile mySlides fade">
      <section class="comprarPorCategoriaGridMobile">
        <a href="/obras">
          <img src="images/geral.png" alt="" class="comprarPorCategoriaImagem">
        </a>
        <a href="/obras_pintura">
          <img src="images/pinturas.png" alt="" class="comprarPorCategoriaImagem">
        </a>
        <a href="/obras_escultura">
          <img src="images/esculturas.png" alt="" class="comprarPorCategoriaImagem">
        </a>
        <a href="/obras_fotografia">
          <img src="images/fotografias.png" alt="" class="comprarPorCategoriaImagem">
        </a>
        <a href="/obras_desenho">
          <img src="images/desenhos.png" alt="" class="comprarPorCategoriaImagem">
        </a>
        <a href="/obras_outros">
          <img src="images/outros.png" alt="" class="comprarPorCategoriaImagem">
        </a>
      </section>
    </section>
</section>

