<section class="artCarrosell">
    <section class="slideshow-container">
      <section class="comprarPorCategoriamySlides mySlides fade">
        <section class="comprarPorCategoriaGrid">
          <img src="images/surrealistBanner.png" alt="" class="comprarPorCategoriaImagem">
          <img src="images/surrealistBanner.png" alt="" class="comprarPorCategoriaImagem">
        </section>
      </section>
      
      <section class="comprarPorCategoriamySlides mySlides fade">
        <section class="comprarPorCategoriaGrid">
          <img src="images/surrealistBanner.png" alt="" class="comprarPorCategoriaImagem">
          <img src="images/surrealistBanner.png" alt="" class="comprarPorCategoriaImagem">
        </section>
      </section>
      
      <section class="comprarPorCategoriamySlides mySlides fade">
        <section class="comprarPorCategoriaGrid">
          <img src="images/surrealistBanner.png" alt="" class="comprarPorCategoriaImagem">
          <img src="images/surrealistBanner.png" alt="" class="comprarPorCategoriaImagem">
        </section>
      </section>
      
      
             <!-- carousel -->
      <!-- <a class="prev" onclick="plusSlidesCategoria(-1)">❮</a>
      <a class="next" onclick="plusSlidesCategoria(1)">❯</a> -->
      
      </section>
      <br>
      
      <!-- <section style="text-align:center">
        <span class="comprarPorCategoriadot dot" onclick="currentSlide(1)"></span> 
        <span class="comprarPorCategoriadot dot" onclick="currentSlide(2)"></span> 
        <span class="comprarPorCategoriadot dot" onclick="currentSlide(3)"></span> 
      </section> -->
  </section>
