<section class="artCarrosell">
    <section class="slideshow-container">
      <section class="comprarPorEstilomySlides mySlides fade">
        <section class="comprarPorEstiloGrid">
          <a href="/buyItem">
            <img src="images/categories/pinturas.jpg" alt="" class="comprarPorCategoriaImagem">
          </a>
          <a href="/buyItem">
            <img src="images/categories/fotografias.jpg" alt="" class="comprarPorCategoriaImagem">
          </a>
        </section>
      </section>
  </section>
