<section class="artCarrosell">
    <section class="slideshow-container">
      <section class="comprarPorCategoriamySlides mySlides fade">
        <section class="comprarPorCategoriaGrid">
          <a href="/obras_pintura">
            <img src="images/Pintura-Icon-PC.png" alt="" class="comprarPorCategoriaImagem">
          </a>
          <a href="/obras_escultura">
            <img src="images/Escutura-Icon-Pc.png" alt="" class="comprarPorCategoriaImagem">
          </a>
        </section>
      </section>
      </section>
      <br>
    

  </section>
