<div id="addObraModalMobile" class="modal">
    <div class="modal-content">
        <span class="close" id="closeAddObraModalMobile">&times;</span>
        <form id="addObraFormMobile" action="/api/obras" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="titulo_obra_mobile">Título da Obra:</label>
                <input type="text" id="titulo_obra_mobile" name="titulo_obra">
            </div>
            <div class="form-group">
                <label for="descricao_obra_mobile">Descrição da Obra:</label>
                <textarea id="descricao_obra_mobile" name="descricao_obra"></textarea>
            </div>
            <div class="form-group">
                <label for="imagem_obra_mobile">Foto da Obra:</label>
                <input type="file" id="imagem_obra_mobile" name="imagem_obra">
            </div>
            <div>
                <label for="categorias">Categoria:</label>
                <select id="categorias" name="categorias" required>
                  <option value="">Selecione uma categoria</option>
                  <option value="Pintura">Pintura</option>
                  <option value="Escultura">Escultura</option>
                  <option value="Fotografia">Fotografia</option>
                  <option value="Desenho">Desenho</option>
                  <option value="Instalação">Instalação</option>
                  <option value="Grafite">Grafite</option>
                  <option value="Outros">Outros</option>
                </select>
              </div>
            <div class="form-group">
                <button type="submit">Adicionar Obra</button>
            </div>
        </form>
    </div>
</div>