<div id="uploadFotoModalMobile" class="modal">
    <div class="modal-content">
        <span class="close" id="closeUploadModalMobile">&times;</span>
        <form id="uploadFotoFormMobile" action="/api/clientes/uploadfoto" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="foto_cliente_mobile">Foto de Perfil:</label>
                <input type="file" id="foto_cliente_mobile" name="foto_cliente">
            </div>
            <div class="form-group">
                <button type="submit">Enviar Foto</button>
            </div>
        </form>
    </div>
</div>