<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ivanty</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/headerPC.css">
    <link rel="stylesheet" href="css/globalPC.css">
    <link rel="stylesheet" href="css/carrosell.css">
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="stylesheet" href="css/perfilMobile.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <section class="telasPequenas">
      <%- include("../partial/header") %>

      <main class="mainTelasPequenas">
        <section class="perfilContentMobile">
          <img src="images/sky.jpg" alt="" class="banner bannerProfile">
          <section class="layoutPerfilMobile">
            <img src="images/artist.jpg" alt="" class="perfilPhotoMobile">
            <section class="perfilTextsMobile">
              <h2 class="perfilNameMobile">Nome do Artista</h2>
              <h3 class="perfilBiographName">@artista %></h3> 
            </section>
          </section>
          <div class="artistaResumo">
            <p class="perfilAboutMobile">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quaerat.</p> <!-- Substitua por informações do cliente -->
          </div>
        </section>
      </main>
    </section>

    <section class="telasGrandes">
      <%- include("../partial/headerPC") %>

      <main class="mainTelasGrandes">
        <section class="perfil-usuario">
          <section class="container-perfil">
              <section class="enter-perfil" style="background-image: url('images/sky.jpg');">
                  <section class="shadow"></section>
                  <section class="avatar-perfil">
                      <img src="images/artist.jpg" alt="img">
                      <a href="#" class="takePicture">
                          <i class="fas fa-camera"></i> 
                          <span> Ver foto</span>
                      </a>
                  </section>
                  <section class="date-perfil">
                      <% if (!isLoggedIn) { %>
                        <h4 class="titulo-usuario">Nome Artista</h4>
                        <p class="bio-usuario">@artista</p>
                      <% } else { %>
                          <h4 class="titulo-usuario">Nome Artista</h4>
                          <p class="bio-usuario">@artista</p>
                      <% } %>
                      <ul class="lista-perfil">
                          <!-- Adicione informações adicionais aqui, se necessário -->
                      </ul>
                  </section>
                  <section class="opção-perfil">
                      <button type=""><i class="fas fa-wrench"></i></button>
                  </section>
              </section>
              <section class="menu-perfil">
                  <ul>
                      <li><a href="#" title=""><i class="icon-perfil fas fa-bullhorn"></i> Obras</a></li>
                  </ul>
              </section>
              <section class="addObras">
              </section>
          </section>
        </section>
      </main>  
    </section>
 
    <%- include("../partial/footer") %>

</body>
</html>
