<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Obra </title>
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet">
    <link href="./css/Obras.css" rel="stylesheet">
    <link href="./css/footer.css" rel="stylesheet">
    <link href="./css/global.css" rel="stylesheet">
    <link href="./css/globalPC.css" rel="stylesheet">
    <link href="./css/header.css" rel="stylesheet">
    <link href="./css/headerPC.css" rel="stylesheet">
    <link href="./css/menu.css" rel="stylesheet">
</head>
<body>
    <section class="telasPequenas">
        <%- include("../partial/header") %>
    </section>
    
    <section class="telasGrandes">
        <%- include("../partial/headerPC") %>
    </section>

    <article class="Mobile">
        <section>
            <main>
                <!-- <div class="ObraPrincipal">
                    <div class="ImagemOP">
                    <figure>
                        <img class="ObraPrincipal" src="./images/ObraPrincipal.webp" alt="Obra o gato do artista romero britto">
                    </figure>
                    <h2 class="ObraPrincipal"> "O Gato" </h2>
                    <h1 class="ObraPrincipal"> Romero Brito </h1>
                    </div>
                    <div class="TextoOP">
                        <p> O gato é uma das obras mais famosas do artista plástico brasileiro. Com o seu colorido típico, O gato traz também muito do estilo geométrico explorado pelo artista.</p>
                    </div>
                    <h1 class="ValorOP"> R$ XXX,XX </h1>
                    <div class="BotoesCompra">
                        <button class="ComprarObra" value="Comprar Obra" name="Comprar Obra" id="Comprar Obra"> Comprar </button>
                        <button class="AddCarrinho" value="Adicionar ao carrinho" name="Add ao carrinho" id="Add ao carrinho"> Adicionar ao carrinho </button>
                    </div>
                </div> -->
                <div class="flip-container">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <div class="ObraPrincipal">
                                    <div class="ImagemOP">
                                        <figure>
                                            <img src="./images/ObraPrincipal.webp" alt="Obra o gato do artista romero britto">
                                        </figure>
                                        <h2 class="ObraPrincipal"> "O Gato" </h2>
                                        <h1 class="ObraPrincipal"> Romero Brito </h1>
                                    </div>
                                    <div class="TextoOP">
                                        <p> O gato é uma das obras mais famosas do artista plástico brasileiro. Com o seu colorido típico, O gato traz também muito do estilo geométrico explorado pelo artista.</p>
                                    </div>
                                    <h1 class="ValorOP"> R$ XXX,XX </h1>
                                    <div class="BotoesCompra">
                                        <button class="ComprarObra">Comprar</button>
                                        <button class="AddCarrinho">Adicionar ao carrinho</button>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <h2>Mais Informações</h2>
                                <p>Esta obra é uma celebração da alegria e da beleza.</p>
                                <!-- Adicione outras informações que você deseja mostrar -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <h2 class="ObrasRelacionadas"> Obras Relacionadas</h2>
                <div class="ObrasRelacionadas swiper">
                    <div class="slider-wrapper">
                    <div class="ObrasRelacionadas-Carrossel swiper-wrapper">
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas1">
                                <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                                </a> 
                            </figure>
                              <p> R$ xxx,xx</p>
                              <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                              </div>
                        </nav>
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas2">
                                <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                                </a> 
                            </figure>
                              <p>R$ xxx,xx</p>
                              <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                              </div>
                        </nav>
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas1">
                                <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                                </a> 
                            </figure>
                              <p> R$ xxx,xx</p>
                              <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                              </div>
                        </nav>
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas2">
                                <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                                </a> 
                            </figure>
                              <p>R$ xxx,xx</p>
                              <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                              </div>
                        </nav>
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas1">
                                <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                                </a> 
                            </figure>
                              <p> R$ xxx,xx</p>
                              <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                              </div>
                        </nav>
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas2">
                                <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                                </a> 
                            </figure>
                            <p>R$ xxx,xx</p>
                            <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                            </div>
                        </nav>
                    </div>
                    </div>
                </div> 
                <!-- <div class="Especificacoes">
                   <h2 class="Especificacoe"> Especificações obra </h2>
                    <table>
                        <tbody>
                        <tr>
                            <td> Dimenções </td>
                            <td> Largura xx X alura xx </td>
                        </tr>
                        <tr>
                            <td> Autor </td>
                            <td> Romero Brito </td>
                        </tr>
                        <tr>
                            <td> Fornecedor </td>
                            <td> XXXXX </td>
                        </tr>
                        <tr>
                            <td> Tecnica usada </td>
                            <td> Tint xx Superficíe </td>
                        </tr>
                        <tr>
                            <td> Ano Confecção </td>
                            <td>  20xx </td>
                        </tr>
                        </tbody>
                    </table>
                </div> -->
            </main>
            <div class="ObrasRelacionadas swiper">
                <div class="slider-wrapper">
                <div class="ObrasRelacionadas-Carrossel swiper-wrapper">
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas1">
                            <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                            </a> 
                        </figure>
                          <p> R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas2">
                            <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                            </a> 
                        </figure>
                          <p>R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas1">
                            <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                            </a> 
                        </figure>
                          <p> R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas2">
                            <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                            </a> 
                        </figure>
                          <p>R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas1">
                            <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                            </a> 
                        </figure>
                          <p> R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas2">
                            <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                            </a> 
                        </figure>
                        <p>R$ xxx,xx</p>
                        <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                        </div>
                    </nav>
                </div>
              
                </div>
            </div> 
        </section>
    </article>
    <article class="Desktop">
        <section>
            <main style="margin-top: 5rem;">
               <div class="teste">
                <div class="ObraPrincipal">
                    <div class="ImagemOP">
                    <figure>
                        <img class="ObraPrincipal" src="./images/ObraPrincipal.webp" alt="Obra o gato do artista romero britto">
                    </figure>
                    <h2 class="ObraPrincipal"> O Gato </h2>
                    <h1 class="ObraPrincipal"> Romero Brito </h1>
                    </div>
                    <div class="TextoOP">
                        <p> O gato é uma das obras mais famosas do artista plástico brasileiro. Com o seu colorido típico, O gato traz também muito do estilo geométrico explorado pelo artista.</p>
                    </div>
                    
                    <div class="BotoesCompra">
                        <h1 class="ValorOP"> R$ XXX,XX </h1>
                        <button class="ComprarObra" value="Comprar Obra" name="Comprar Obra" id="Comprar Obra"> Comprar </button>
                        <button class="AddCarrinho" value="Adicionar ao carrinho" name="Add ao carrinho" id="Add ao carrinho"> Adicionar ao carrinho </button>
                    </div>
                </div>
            </div>
                <h2 class="ObrasRelacionadas"> Obras Relacionadas</h2>
                <div class="ObrasRelacionadas swiper">
                    <div class="slider-wrapper">
                    <div class="ObrasRelacionadas-Carrossel swiper-wrapper">
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas1">
                                <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                                </a> 
                            </figure>
                              <p> R$ xxx,xx</p>
                              <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                              </div>
                        </nav>
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas2">
                                <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                                </a> 
                            </figure>
                              <p>R$ xxx,xx</p>
                              <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                              </div>
                        </nav>
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas1">
                                <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                                </a> 
                            </figure>
                              <p> R$ xxx,xx</p>
                              <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                              </div>
                        </nav>
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas2">
                                <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                                </a> 
                            </figure>
                              <p>R$ xxx,xx</p>
                              <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                              </div>
                        </nav>
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas1">
                                <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                                </a> 
                            </figure>
                              <p> R$ xxx,xx</p>
                              <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                              </div>
                        </nav>
                        <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                            <figure class="ObrasRelacionadas2">
                                <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                    <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                                </a> 
                            </figure>
                            <p>R$ xxx,xx</p>
                            <div class="CarrinhoELike">
                              <button class="AddCarrinho"> Adicionar ao carrinho </button>
                            <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                            </div>
                        </nav>
                    </div>
                 
                    </div>
                </div> 
                <!-- <div class="Especificacoes">
                   <h2 class="Especificacoe"> Especificações obra </h2>
                    <table>
                        <tbody>
                        <tr>
                            <td> Dimenções </td>
                            <td> Largura xx X alura xx </td>
                        </tr>
                        <tr>
                            <td> Autor </td>
                            <td> Romero Brito </td>
                        </tr>
                        <tr>
                            <td> Fornecedor </td>
                            <td> XXXXX </td>
                        </tr>
                        <tr>
                            <td> Tecnica usada </td>
                            <td> Tint xx Superficíe </td>
                        </tr>
                        <tr>
                            <td> Ano Confecção </td>
                            <td>  20xx </td>
                        </tr>
                        </tbody>
                    </table>
                </div> -->
            </main>
            <div class="ObrasRelacionadas swiper">
                <div class="slider-wrapper">
                <div class="ObrasRelacionadas-Carrossel swiper-wrapper">
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas1">
                            <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                            </a> 
                        </figure>
                          <p> R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas2">
                            <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                            </a> 
                        </figure>
                          <p>R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas1">
                            <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                            </a> 
                        </figure>
                          <p> R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas2">
                            <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                            </a> 
                        </figure>
                          <p>R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas1">
                            <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                            </a> 
                        </figure>
                          <p> R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas2">
                            <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                            </a> 
                        </figure>
                        <p>R$ xxx,xx</p>
                        <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                        </div>
                    </nav>
                </div>
               
                </div>
            </div> 
            <div class="ObrasRelacionadas swiper">
                <div class="slider-wrapper">
                <div class="ObrasRelacionadas-Carrossel swiper-wrapper">
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas1">
                            <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                            </a> 
                        </figure>
                          <p> R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas2">
                            <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                            </a> 
                        </figure>
                          <p>R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas1">
                            <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                            </a> 
                        </figure>
                          <p> R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas2">
                            <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                            </a> 
                        </figure>
                          <p>R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas1">
                            <a href="#"> <img class="ObrasRelacionadas1" src="./images/ObraRelacionada1.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas1"> Arte Nick e Charlie hearstopper</h2>
                            </a> 
                        </figure>
                          <p> R$ xxx,xx</p>
                          <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                          </div>
                    </nav>
                    <nav class="ObrasRelacionadas-Carrossel-Item swiper-slide">
                        <figure class="ObrasRelacionadas2">
                            <a href="#"> <img class="ObrasRelacionadas2" src="./images/ObraRelacionada2.jpg" alt="Arte do famoso livro hearstopper"> 
                                <h2 class="ObrasRelacionadas2"> Noite estrelada </h2>
                            </a> 
                        </figure>
                        <p>R$ xxx,xx</p>
                        <div class="CarrinhoELike">
                          <button class="AddCarrinho"> Adicionar ao carrinho </button>
                        <figure> <img class="Like" src="./images/coracao.png" alt="Botão de Like"></figure>
                        </div>
                    </nav>
                </div>
               
                </div>
            </div> 
        </section>
    </article> 
    <%- include("../partial/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./js/Obra.js"></script>
</body>
</html>