<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configurações</title>
  <link rel="stylesheet" href="css/edit.css">
</head>
<body>
  <div class="settings">
    <h1>Configurações</h1>
    <form id="profileForm">
      <label for="profilePic">Imagem do Perfil:</label>
      <input type="file" id="profilePic" accept="image/*">
      <label for="username">Nome de Usuário:</label>
      <input type="text" id="username">
      <label for="userInfo">Informações do Usuário:</label>
      <textarea id="userInfo"></textarea>
      <button type="submit">Salvar</button>
    </form>
  </div>

  <script src="edit.js"></script>
</body>
</html>