<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Cliente</title>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet" />
</head>
<body>
    <section class="container">
        <section class="header">
            <h2>Faça seu login</h2>
        </section>
        <form action="/api/clientes/login" method="POST" id="loginForm" class="form">
            <section class="form-control">
                <label for="email">E-mail</label>
                <input
                    type="email"
                    id="email"
                    name="email_cliente"
                    placeholder="exemplo@dominio.com"
                    required
                />
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small class="mensagem-erro">Mensagem de erro</small>
            </section>

            <section class="form-control">
                <label for="senha">Senha</label>
                <input
                    type="password"
                    id="senha"
                    name="senha_cliente"
                    placeholder="Digite sua senha..."
                    required
                />
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
                <small class="mensagem-erro">Mensagem de erro</small>
            </section>

            <button type="submit" class="Iniciar">Entrar</button>
        </form>
    </section>

    <script src="https://kit.fontawesome.com/f9e19193d6.js" crossorigin="anonymous"></script>
</body>
</html>
