<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ivanty</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/headerPC.css">
    <link rel="stylesheet" href="css/globalPC.css">
    <link rel="stylesheet" href="css/aboutPC.css">
    <link rel="stylesheet" href="css/requests.css">
</head>
<body>
    <section class="telasPequenas">
      <%- include("../partial/header") %>
      <main class="mainTelasPequenas">
        <section class="pedidos">
          <p class="dataPedido">20 de Julho</p>
          <div class="gridContainerPedidos">
            <img src="images/arts/noiteEstrelada.jpg" alt="" class="imagemPedido">
            <div class="textoPedidos">
              <p class="statusTexto">Entregue em 26 de Julho</p>
            </div>
          </div>
        </section>
      </main>
    </section>

    <section class="telasGrandes">
      <%- include("../partial/headerPC") %>

      <main class="mainTelasGrandes">
        
      </main>  
    </section>
  
    <%- include("../partial/footer") %>

    </body>
</html>