<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/globalPC.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/headerPC.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/resetPassword.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/salvarObra.css">
</head>
<body>
    <section class="telasPequenas">
        <%- include("../partial/recuperarSenha/header") %>
    </section>
    <section class="telasGrandes">
        <%- include("../partial/recuperarSenha/headerPC") %>
    </section>

    <div class="container">
        <h2>Redefinir Senha</h2>
        <form action="/password/password-reset/<%= token %>" method="POST">
            <div class="form-group">
                <label for="password">Nova Senha:</label>
                <input type="password" class="input-field" id="password" name="password" required placeholder="Digite sua nova senha">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmar Senha:</label>
                <input type="password" class="input-field" id="confirm_password" name="confirm_password" required placeholder="Confirme sua nova senha">
            </div>
            <div style="display: flex; flex-direction: row-reverse;">
                <button type="submit" class="submit-button">Redefinir Senha</button>
            </div>
        </form>

        <% if (typeof message !== 'undefined') { %>
            <p class="message"><%= message %></p>
        <% } %>
    </div>
    <script>
        // Validação simples para verificar se as senhas coincidem
        document.querySelector('form').addEventListener('submit', function (e) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
            if (password !== confirmPassword) {
                e.preventDefault();
                alert('As senhas não coincidem!');
            }
        });
    </script>
</body>
</html>
