<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?famili-Playwrite+DE+Grund:wght@100..4000&display-swap" rel="stylesheet">
    <title>Salvar Obra</title>
    <link rel="stylesheet" href="../css/salvarObra.css">
</head>
<body>
    <div class="SalvarObra">
    <h1>Salvar Dados da Obra</h1>
    <form action="/api/obras/salvar" method="POST">
        <div>
            <label for="titulo_obra">Título da Obra:</label>
            <input type="text" id="titulo_obra" name="titulo_obra" required>
        </div>
        <div>
            <label for="descricao_obra">Descrição:</label>
            <textarea id="descricao_obra" name="descricao_obra" required></textarea>
        </div>
        <div>
            <label for="ano_criacao">Ano de Criação:</label>
            <input type="number" id="ano_criacao" name="ano_criacao" required>
        </div>
        <button type="submit">Salvar Dados da Obra</button>
    </form>
    </div>
</body>
</html>
