<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload da Imagem</title>
    <link rel="stylesheet" href="../../css/CriarConta.css">
    <link rel="stylesheet" href="../../css/addImage.css">
</head>
<body>
    <div class="form-box addImageBox">
        <h1 class="addImageText">Upload da Imagem da Obra</h1>
        <form action="/api/obras/imagem" method="POST" enctype="multipart/form-data">
            <div class="input-group ">
                <label for="imagem_obra">Upload da Imagem:</label>
                <input type="file" id="imagem_obra" name="imagem_obra" accept="image/*" required>
            </div>
            <div class="input-group">
                <button type="submit">Upload da Imagem</button>
            </div>
        </form>
    </div>
</body>
</html>
