<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <h1>Página não encontrada</h1>
    <p>Desculpe, mas a página que você está procurando não existe.</p>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>
